<%= form_for @library do |f| %>
  <%= f.text_field :url %></br>
  <%= f.submit "Scrape" %>
<% end %>


<p> Add your library for scraping:</p>
<form accept-charset="UTF-8" action="/libraries" class="new_library" id="new_library" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="IeYkdiER02gEfv/gNvCirIbYrQXBsMI/XXtrFOTA+jU=" /></div>
  <input class="urlfield" id="library_url" name="library[url]" placeholder="example.com" type="text" />
</form>

