<h1>Welcome to Amy's Adventure Library</h1>

<p>Homebrewed Adventures:</p>
<% @adventures.each do |adventure| %>
  <%= adventure.title %></br>
<% end %>


<p>Outsourced Adventures:</p>
<% @libraries.each do |library| %>
  url: <%= library.url %></br>
<% end %>

<p> Get your library's scrape on:</p>
<form accept-charset="UTF-8" action="/libraries" class="new_library" id="new_library" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
  <input class="urlfield" id="library_url" name="library[url]" placeholder="example.com" type="text" />
</form>

